* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
.RedButton {
  height: 500px;
 fill: red;
  color: white;
  width: 100px;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
.photo {
  max-width: 175px;
  max-height:175px;
  border-radius: 100px;
}